@-webkit-keyframes backgroundpanelfaidein {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@-moz-keyframes backgroundpanelfaidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes backgroundpanelfaidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes backgroundpanelfaidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes backgroundpanelfaidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}