@media (min-width: 501px) and (max-width: 800px) {
    .backgroundpanel > .backgroundellipse {
        background-color: rgba(230,201,42,0.1);
        border-radius: 50%;
        height: 1200px;
        position: absolute;
        width: 1200px;
        -webkit-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        -moz-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        -o-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        animation: backgroundpanelfaidein 1s forwards ease-in-out;
    }

    .backgroundpanel > .backgroundellipsetopright {
        left: 50%;
        top: 0%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .backgroundpanel > .backgroundellipsebottomleft {
        display: none;
    }
}
