.backgroundpanel {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #fff;
}

.backgroundpanel > .backgroundellipse {
  background-color: rgba(230, 201, 42, 0.1);
  border-radius: 50%;
  height: 900px;
  position: absolute;
  width: 900px;
  -webkit-animation: backgroundpanelfaidein 1s forwards ease-in-out;
  -moz-animation: backgroundpanelfaidein 1s forwards ease-in-out;
  -o-animation: backgroundpanelfaidein 1s forwards ease-in-out;
  animation: backgroundpanelfaidein 1s forwards ease-in-out;
}

.backgroundpanel > .backgroundellipsetopright {
  left: 100%;
  top: 0%;
  -webkit-transform: translate(-90%, -40%);
  -moz-transform: translate(-90%, -40%);
  -ms-transform: translate(-90%, -40%);
  -o-transform: translate(-90%, -40%);
  transform: translate(-90%, -40%);
}

.backgroundpanel > .backgroundellipsebottomleft {
  top: 100%;
  left: 30%;
  -webkit-transform: translate(-90%, -50%);
  -moz-transform: translate(-90%, -50%);
  -ms-transform: translate(-90%, -50%);
  -o-transform: translate(-90%, -50%);
  transform: translate(-90%, -50%);
}

.logo {
  width: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  -webkit-animation: logoIn 1s forwards ease-in-out;
  -moz-animation: logoIn 1s forwards ease-in-out;
  -o-animation: logoIn 1s forwards ease-in-out;
  animation: logoIn 1s forwards ease-in-out;
}

.categorypanel {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 40px;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 16pt;
  z-index: 1;
}

.categorypanel > .dropdownicon {
  display: none;
}

.categorypanel > select {
  display: none;
}

.categorypanel > div {
  position: relative;
  width: auto;
  height: auto;
  -webkit-animation: categoryHolderIn 1s forwards ease-in-out;
  -moz-animation: categoryHolderIn 1s forwards ease-in-out;
  -o-animation: categoryHolderIn 1s forwards ease-in-out;
  animation: categoryHolderIn 1s forwards ease-in-out;
  overflow: hidden;
}

.categorypanel > div > span {
  opacity: 0.25;
  margin-right: 25px;
  cursor: pointer;
  -webkit-animation: categoryIn 1s forwards ease-in-out;
  -moz-animation: categoryIn 1s forwards ease-in-out;
  -o-animation: categoryIn 1s forwards ease-in-out;
  animation: categoryIn 1s forwards ease-in-out;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translate(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.categorypanel > div > span:last-child {
  margin-right: unset;
}

.categorypanel > div > span:hover {
  opacity: 1;
}

.categorypanel > div > .active {
  opacity: 1;
  font-weight: bold;
}

.productlistpanel {
  position: absolute;
  z-index: 2;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 100px);
  overflow-x: auto;
  padding: 20px 50px;
  overflow-y: hidden;
}

.productlistpanel > .listitem {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 100px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0.5;
  cursor: pointer;
  margin-right: 60px;
  -webkit-animation: categoryIn 1s forwards ease-in-out;
  -moz-animation: categoryIn 1s forwards ease-in-out;
  -o-animation: categoryIn 1s forwards ease-in-out;
  animation: categoryIn 1s forwards ease-in-out;
  -webkit-transform: translate(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.productlistpanel > .listitem:hover {
  opacity: 1;
}

.productlistpanel > .listitem > * {
  opacity: 0;
  -webkit-animation: categoryHolderIn 1s forwards ease-in-out;
  -moz-animation: categoryHolderIn 1s forwards ease-in-out;
  -o-animation: categoryHolderIn 1s forwards ease-in-out;
  animation: categoryHolderIn 1s forwards ease-in-out;
}

.productlistpanel > .active {
  opacity: 1 !important;
}

.productlistpanel > .listitem:last-child {
  margin-right: unset;
}

.productlistpanel > .listitem > .imgholder {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 5px;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
}

.productlistpanel > .listitem > .imgholder > img {
  height: 70%;
  position: absolute;
  left: -30%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
  opacity: 0;
}

.productlistpanel > .listitem > .imgholder > div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15pt;
  opacity: 1;
}

.productlistpanel > .listitem > .imgholderunderlay {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 0;
  border-radius: 5px 0 0 5px;
  top: 0;
  left: 0;
}

.productlistpanel > .listitem > .detailsholder {
  position: relative;
  width: calc(100% - 140px);
  height: calc(100% - 40px);
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 20px;
  text-align: left;
  z-index: 2;
}

.productlistpanel > .listitem > .detailsholder > .name {
  display: block;
  font-size: 12pt;
  font-weight: bold;
}

.productlistpanel > .listitem > .detailsholder > .price {
  display: block;
  font-size: 11pt;
}

.itempanel {
  z-index: 3;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: calc(100% - 250px);
}

.itempanelmarginbottom {
  margin-bottom: 0px;
}

.itempanel > .detailsholder {
  position: absolute;
  top: 100px;
  left: 15%;
  z-index: 1;
}

.itempanel > .detailsholder > span {
  white-space: nowrap;
  display: block;
}

.itempanel > .detailsholder > .trademark {
  font-size: 12pt;
}

.itempanel > .detailsholder > .itemname {
  font-size: 30pt;
  font-weight: bold;
}

.itempanel > .detailsholder > .itemprice {
  font-size: 25pt;
  color: #e6c92a;
  font-weight: bold;
}

.itempanel > .imgholder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 75%;
  z-index: 0;
}

.itempanel > .imgholder > div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #343434;
  font-size: 20pt;
  opacity: 1;
}

.itempanel > .imgholder > img {
  height: 100%;
  opacity: 0;
  z-index: 0;
}

.itempanel > .sizepanel {
  position: absolute;
  right: 15%;
  bottom: 160px;
  width: auto;
  height: auto;
}

.itempanel > .sizepanel > div {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 40px;
  color: #343434;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: showColor 1s forwards ease-in-out;
  -moz-animation: showColor 1s forwards ease-in-out;
  -o-animation: showColor 1s forwards ease-in-out;
  animation: showColor 1s forwards ease-in-out;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.itempanel > .sizepanel > div:last-child {
  margin-right: unset;
}

.itempanel > .sizepanel > div:hover {
  background-color: #e6c92a !important;
  color: #fff !important;
}

.itempanel > .sizepanel > .active {
  background-color: #e6c92a !important;
  color: #fff !important;
}

.itempanel > .sizepanel > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.itempanel > .colorpanel {
  width: auto;
  height: auto;
  position: absolute;
  right: 15%;
  bottom: 100px;
  z-index: 1;
  white-space: nowrap;
}

.itempanel > .colorpanel > .colorbox {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 15px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  -webkit-animation: showColor 1s forwards ease-in-out;
  -moz-animation: showColor 1s forwards ease-in-out;
  -o-animation: showColor 1s forwards ease-in-out;
  animation: showColor 1s forwards ease-in-out;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  display: inline-block;
}

.itempanel > .colorpanel > .colorbox:last-child {
  margin-right: unset;
}

.itempanel > .colorpanel > .colorbox:hover {
  opacity: 1;
}

.itempanel > .colorpanel > .colorbox > .color {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.itempanel > .colorpanel > .active {
  opacity: 1;
}

.itempanel > .currentitemincart {
  position: absolute;
  left: 50%;
  bottom: 58px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #eee;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 9pt;
}

.itempanel > .currentitemincart > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.itempanel > .currentitemincart > *:last-child {
  margin-right: unset;
}

.itempanel > .addtocartbtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: none;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  -webkit-animation: backgroundpanelfaidein 1s forwards ease-in-out;
  -moz-animation: backgroundpanelfaidein 1s forwards ease-in-out;
  -o-animation: backgroundpanelfaidein 1s forwards ease-in-out;
  animation: backgroundpanelfaidein 1s forwards ease-in-out;
  border: 2px solid #e6c92a;
  color: #fff;
  background-color: #e6c92a;
  -webkit-appearance: none;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.itempanel > .outofstock {
  color: #343434 !important;
  background-color: #eee !important;
  border: 2px solid #eee !important;
  cursor: not-allowed !important;
}

.itempanel > .outofstock > .note {
  position: absolute;
  width: auto;
  height: auto;
  white-space: nowrap;
  left: 50%;
  top: 100%;
  margin-top: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.itempanel > .addtocartbtn > .primaryicon {
  margin-right: 5px;
}

.shoppingbagiconpanel {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  color: #343434;
  width: 50px;
  height: 50px;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.shoppingbagiconpanel:hover {
  background-color: #e6c92a;
  color: #fff;
}

.shoppingbagiconpanel > .indicator {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: red;
  border: 2px solid #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.shoppingbagiconpanel > .shopicon {
  font-size: 20pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.noitem {
  opacity: 0.5 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.socialmediapanel {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 25pt;
  z-index: 3;
}

.socialmediapanel > a {
  margin-right: 10px;
  color: #343434;
}

.socialmediapanel > a:last-child {
  margin-right: unset;
}

.cartpanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.cartpanel > .cartmodal {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  height: calc(100% - 100px);
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.cartpanel > .cartmodal > header {
  position: relative;
  width: 100%;
  height: 100px;
}

.cartpanel > .cartmodal > header > span {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15pt;
  font-weight: bold;
}

.cartpanel > .cartmodal > header > .closebtn {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 15pt;
  cursor: pointer;
}

.cartpanel > .cartmodal > header > .closebtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.cartpanel > .cartmodal > header > .closebtn > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartpanel > .cartmodal > .body {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.cartpanel > .cartmodal > .body > .innerbody {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 170px);
  overflow-y: auto;
  padding: 20px 20px 50px 20px;
}

.cartpanel > .cartmodal > .body > .innerbody > .item {
  width: 100%;
  height: 120px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  white-space: nowrap;
  margin-bottom: 10px;
}

.cartpanel > .cartmodal > .body > .innerbody > .item:last-child {
  margin-bottom: unset;
}

.cartpanel > .cartmodal > .body > .innerbody > .item > .imgholder {
  position: relative;
  width: 120px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.cartpanel > .cartmodal > .body > .innerbody > .item > .imgholder > .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  transform: translate(-50%, -50%);
  background-color: rgb(20, 140, 165);
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .imgholder
  > .bg
  > .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .imgholder
  > .bg
  > .overlay
  > img {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
}

.cartpanel > .cartmodal > .body > .innerbody > .item > .detailsholder {
  position: relative;
  width: calc(100% - 120px);
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .details {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  z-index: 0;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .details
  > .name {
  display: block;
  font-size: 10pt;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .details
  > .price {
  display: block;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .details
  > .size {
  font-size: 8pt;
  background-color: #eee;
  padding: 3px 10px;
  width: auto;
  border-radius: 10px;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .quantitholder {
  position: absolute;
  top: 50%;
  right: 15px;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  direction: rtl;
  z-index: 1;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .quantitholder
  > .editqty {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .quantitholder
  > .editqty:hover {
  background-color: #e6c92a;
  color: #fff;
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .quantitholder
  > .editqty
  > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartpanel
  > .cartmodal
  > .body
  > .innerbody
  > .item
  > .detailsholder
  > .quantitholder
  > .quantity {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 12pt;
}
