.backgroundpanel {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}
    .backgroundpanel > .backgroundellipse {
        background-color: rgba(230,201,42,0.1);
        border-radius: 50%;
        height: 900px;
        position: absolute;
        width: 900px;
        -webkit-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        -moz-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        -o-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        animation: backgroundpanelfaidein 1s forwards ease-in-out;
    }

    .backgroundpanel > .backgroundellipsetopright {
        left: 100%;
        top: 0%;
        -webkit-transform: translate(-90%, -40%);
        -moz-transform: translate(-90%, -40%);
        -ms-transform: translate(-90%, -40%);
        -o-transform: translate(-90%, -40%);
        transform: translate(-90%, -40%);
    }

    .backgroundpanel > .backgroundellipsebottomleft {
        top: 100%;
        left: 30%;
        -webkit-transform: translate(-90%, -50%);
        -moz-transform: translate(-90%, -50%);
        -ms-transform: translate(-90%, -50%);
        -o-transform: translate(-90%, -50%);
        transform: translate(-90%, -50%);
    }

.logo {
    width: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    -webkit-animation: logoIn 1s forwards ease-in-out;
    -moz-animation: logoIn 1s forwards ease-in-out;
    -o-animation: logoIn 1s forwards ease-in-out;
    animation: logoIn 1s forwards ease-in-out;
}

.categorypanel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 40px;
    width: auto;
    height: auto;
    white-space: nowrap;
    font-size: 16pt;
    z-index: 1;
}

    .categorypanel > select {
        display:none;
    }

    .categorypanel > div {
        position: relative;
        width: auto;
        height: auto;
        -webkit-animation: categoryHolderIn 1s forwards ease-in-out;
        -moz-animation: categoryHolderIn 1s forwards ease-in-out;
        -o-animation: categoryHolderIn 1s forwards ease-in-out;
        animation: categoryHolderIn 1s forwards ease-in-out;
        overflow:hidden;
    }

        .categorypanel > div > span {
            opacity: 0.25;
            margin-right: 25px;
            cursor: pointer;
            -webkit-animation: categoryIn 1s forwards ease-in-out;
            -moz-animation: categoryIn 1s forwards ease-in-out;
            -o-animation: categoryIn 1s forwards ease-in-out;
            animation: categoryIn 1s forwards ease-in-out;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translate(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }

            .categorypanel > div > span:last-child {
                margin-right: unset;
            }

            .categorypanel > div > span:hover {
                opacity: 1;
            }

        .categorypanel > div > .active {
            opacity: 1;
            font-weight: bold;
        }

.productlistpanel {
    position: absolute;
    z-index: 2;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 30px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    padding: 20px 0;
    overflow-y: hidden;
}

    .productlistpanel > .listitem {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 300px;
        height: 100px;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0.5;
        cursor: pointer;
        margin-right: 60px;
        -webkit-animation: categoryIn 1s forwards ease-in-out;
        -moz-animation: categoryIn 1s forwards ease-in-out;
        -o-animation: categoryIn 1s forwards ease-in-out;
        animation: categoryIn 1s forwards ease-in-out;
        -webkit-transform: translate(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

        .productlistpanel > .listitem:hover {
            opacity: 1;
        }

        .productlistpanel > .listitem > * {
            opacity: 0;
            -webkit-animation: categoryHolderIn 1s forwards ease-in-out;
            -moz-animation: categoryHolderIn 1s forwards ease-in-out;
            -o-animation: categoryHolderIn 1s forwards ease-in-out;
            animation: categoryHolderIn 1s forwards ease-in-out;
        }

    .productlistpanel > .active {
        opacity: 1 !important;
    }

    .productlistpanel > .listitem:last-child {
        margin-right: unset;
    }

        .productlistpanel > .listitem > .imgholder {
            position: relative;
            width: 100px;
            height: 100px;
            background-color: rgba(0,0,0,0.2);
            border-radius: 5px 0 0 5px;
            display: inline-block;
            vertical-align: middle;
            z-index:0;
        }

            .productlistpanel > .listitem > .imgholder > img {
                height: 70%;
                position: absolute;
                left: -30%;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }

    .productlistpanel > .listitem > .detailsholder {
        position: relative;
        width: calc(100% - 140px);
        height: calc(100% - 40px);
        display: inline-block;
        vertical-align: middle;
        background-color: #FFF;
        padding: 20px;
        text-align: left;
        z-index: 1;
    }

        .productlistpanel > .listitem > .detailsholder > .name {
            display: block;
            font-size: 12pt;
            font-weight: bold;
        }

        .productlistpanel > .listitem > .detailsholder > .price {
            display: block;
            font-size: 11pt;
        }