@media (max-width: 500px) {
    .backgroundpanel > .backgroundellipse {
        background-color: rgba(230,201,42,0.1);
        border-radius: 50%;
        height: 850px;
        position: absolute;
        width: 850px;
        -webkit-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        -moz-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        -o-animation: backgroundpanelfaidein 1s forwards ease-in-out;
        animation: backgroundpanelfaidein 1s forwards ease-in-out;
    }

    .backgroundpanel > .backgroundellipsetopright {
        left: 50%;
        top: 0%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .backgroundpanel > .backgroundellipsebottomleft {
        display: none;
    }

    .categorypanel {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 20px;
        width: calc(100% - 200px);
        height: auto;
        font-size: 12pt;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        -webkit-animation: categoryHolderIn 1s forwards ease-in-out;
        -moz-animation: categoryHolderIn 1s forwards ease-in-out;
        -o-animation: categoryHolderIn 1s forwards ease-in-out;
        animation: categoryHolderIn 1s forwards ease-in-out;
        overflow: unset;
    }

        .categorypanel > div {
            position: relative;
            width: calc(100% - 4px);
            height: auto;
            padding: 10px 0;
            border: 2px solid #343434;
            border-radius: 30px;
            -webkit-animation: categoryIn 1s forwards ease-in-out;
            -moz-animation: categoryIn 1s forwards ease-in-out;
            -o-animation: categoryIn 1s forwards ease-in-out;
            animation: categoryIn 1s forwards ease-in-out;
            overflow: unset;
        }

            .categorypanel > div > span {
                display: none;
                text-align: center;
                margin-right: unset;
                -webkit-animation: unset;
                -moz-animation: unset;
                -o-animation: unset;
                animation: unset;
                -webkit-transform: unset;
                -moz-transform: unset;
                -ms-transform: unset;
                -o-transform: unset;
                transform: unset;
            }

            .categorypanel > div > .active {
                display: block;
                font-weight: bold;
            }
}
